<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		body {
			top-padding: 40px;
			margin-bottom: 30px;
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			position: -webkit-sticky;
			/* Safari */
			position: sticky;
			<% if current_company %>top: 50px;
			<% else %>top: 50px;
			<% end %>z-index: 1;
			
			
		}

		li {
			list-style-type: none;
			float: left;
		}

		li a {
			display: block;
			color: #000;
			position: relative;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		.offset:before {
			display: block;
			content: " ";
			height: 150px;
			/* Give height of your fixed element */
			margin-top: -150px;
			/* Give negative margin of your fixed element */
			visibility: hidden;
		}

		.active {
			background-color: #007bff;
		}
	</style>
</head>
<ul>
	<li class="nav-item <%if current_page?(company_path(@company))%>active<%end%>"><%= link_to 'About', company_path(@company) %></li>
	<li class="nav-item <%if current_page?(review_list_company_reviews_path(@company))%>active<%end%>"><%= link_to 'Review', review_list_company_reviews_path(@company)%></li>
	<li class="nav-item <%if current_page?(company_jobs_list_company_job_posts_path(@company))%>active<%end%>"><%= link_to 'Jobs', company_jobs_list_company_job_posts_path(@company)%></li>
</ul>