<%= @company.title%>

<h2>Reviews</h2>
<% if current_user.review %>
<p><%= link_to 'Edit review', edit_company_review_path(@company, current_user.review)%></p>
<%else%>
<p><%= link_to 'Add review', new_company_review_path(@company)%></p>
<% end %>
----------------------------------
  <%= render @company.reviews %><br>
  
----------------------------------

