<nav class="navbar">
<ul class="nav">
  <li><%= link_to "Comapny logout", destroy_user_session_path, method: :delete, class: "btn btn-primary"%></li>
</ul>
</nav>
<%= link_to 'Post Job', new_company_job_post_path(current_company.id), class: 'btn btn-primary'%>

    <% @job_posts.each do |post| %>
      
    <% end %>
