<% if !@user_job_post.blank? %>
  <% @user_job_post.each do |apply| %>
    <tr>
      User name : <td><%= apply.email%></td><br>
    </tr>
  <% end %>
  <br>
  <% else %>
    <h1>Data not found</h1>
<% end %>
