/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.

 *= require dashboards
 *= require footer
 *= require style
 *= require animate
 *= require aos
 *= require bootstrap-datepicker
 *= require flaticon
 *= require icomoon
 *= require ionicons.min
 *= require jquery.timepicker
 *= require magnific-popup
 *= require owl.carousel.min
 *= require owl.theme.default.min
 *= require jquery.raty
 *= require_self
 *= require_tree .
 *= require jquery-ui
 *= require select2
 *= require select2-bootstrap
*/




@import 'bootstrap';
@import "font-awesome.css";
@import 'font-awesome';
@import "./actiontext.scss";


.alert {
  margin-bottom: 0px;
}

.message {
  color: red;
}

thead th {
  background: #343a40;
  color: white;
  word-wrap: break-word;
  max-width: 100px;
}
tbody td {
  word-wrap: break-word;
  max-width: 100px;
}

@media (min-width: 768px) {
  .form-group.row>.col-form-label {
    text-align: right;
  }
}

tbody :hover {
  background-color: #DCDCDC;
}


.navbar {
  z-index : 999;
}