
<div class="dark-bg sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>

    <div class="container">
      <a class="navbar-brand" href="/">JobPortal</a>
      
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in?%>
              <li class=nav-item><%= link_to "Account", edit_user_registration_path, class: "active"%> </li>
              <li class=nav-item><span class="fa fa-sign-out"></span>
                <%= link_to "sign out", destroy_user_session_path , method: :delete %></li>
            <%else%>
              <li class=nav-item><%= link_to "Sign Up", new_user_registration_path,class: "active" %></li>
              <li class=nav-item><%= link_to "Sign In", new_user_session_path,class: "active" %></li>
            <%end%>

        </ul>
      </div>
    </div>
  </nav>
</div>