<span class="success_msgs"> <% if notice %>
        <p class="alert alert-success">
            <%= notice %>
        </p> <% end %> </span>

<span class="error_msgs"> <% if alert %>
        <p class="alert alert-danger">
            <%= alert %>
        </p> <% end %> </span>