<span class="success_msgs"> <% if notice %>
        <p class="alert alert-success">
            <%= flash[:notice] %>
        </p> <% end %> </span>

<span class="error_msgs"> <% if alert %>
        <p class="alert alert-danger">
            <%= flash[:alert] %>
        </p> <% end %> </span>